##Importing Required Standard Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score,roc_curve,f1_score
from sklearn.model_selection import StratifiedKFold,KFold
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB, GaussianNB

In [4]:
main_train_df = pd.read_csv("/content/drive/MyDrive/ML/ML_Project/datasets/train_data.csv")
main_test_df = pd.read_csv("/content/drive/MyDrive/ML/ML_Project/datasets/test_data.csv")

In [5]:
working_df = main_train_df.copy()

In [6]:
working_df.head(10)

                                                 url  ...    id
0        http://www.polyvore.com/cgi/home?id=1389651  ...  3711
1         http://www.youtube.com/watch?v=ippMPPu6gh4  ...  7222
2  http://www.musingsofahousewife.com/2011/03/tri...  ...  3964
3  http://www.thelittleteochew.com/2011/07/ikan-b...  ...  3697
4             http://recipes.wuzzle.org/index.php/72  ...  4321
5  http://www.sleepdisordersguide.com/blog/good-n...  ...  6940
6  http://www.insidershealth.com/natural_cure/poi...  ...  5416
7                        http://yawoot.com/post/2122  ...  7349
8      http://www.bbc.co.uk/news/technology-22516169  ...  6727
9  http://fxcuisine.com/default.asp?Display=163&r...  ...  5155

[10 rows x 27 columns]

In [7]:
working_df.describe()

       avgLinkWordLength  AvglinkWithOneCommonWord  ...        label           id
count        5916.000000               5916.000000  ...  5916.000000  5916.000000
mean            2.852545                  0.469274  ...     0.517241  3699.003888
std             9.559954                  0.203990  ...     0.499745  2132.447652
min             0.000000                  0.000000  ...     0.000000     4.000000
25%             1.600000                  0.342038  ...     0.000000  1860.750000
50%             2.086957                  0.484084  ...     1.000000  3703.500000
75%             2.622778                  0.616681  ...     1.000000  5539.250000
max           363.000000                  1.000000  ...     1.000000  7394.000000

[8 rows x 21 columns]

##Language Preprocessing

Extracting Body From json text

In [8]:
import json

In [9]:
web_body_list = []
web_title_list = []
web_url_list = []
for i in range(working_df.shape[0]):
  dictionary_json =   json.loads(working_df['webpageDescription'][i])
  if('body' in dictionary_json):
    if(dictionary_json['body'] is None):
      web_body_list.append(" ")
    else:
      web_body_list.append(dictionary_json['body'])
  else:
    web_body_list.append(" ")

  if('title' in dictionary_json):
    if(dictionary_json['title'] is None):
      web_title_list.append(" ")
    else:
      web_title_list.append(dictionary_json['title'])
    
  else:
    web_title_list.append(" ")

  if('url' in dictionary_json):
    if(dictionary_json['url'] is None):
      web_url_list.append(" ")
    else:
      web_url_list.append(dictionary_json['url'])
  else:
    web_url_list.append(" ")

In [10]:
web_text_list = []
for i in range(working_df.shape[0]):
  web_text = web_body_list[i] + " " + web_title_list[i] + " " + web_url_list[i]
  web_text_list.append(web_text)

##Natural Language Processing Techniques on Body Text

TF-IDF Approach

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
tv = TfidfVectorizer()

In [13]:
nlp_X = tv.fit_transform(web_text_list).toarray()

In [14]:
nlp_X.shape

(5916, 80032)

##Splitting the Data

In [15]:
train_Y = working_df["label"].to_numpy().astype(np.float64)

##Modeling

In [ ]:
# scores = cross_val_score(MultinomialNB(alpha = 0.45),nlp_X,train_Y, scoring = 'roc_auc')
# print(scores)
# print(np.mean(scores))

LogisticRegression

In [17]:
log_reg_model = LogisticRegression(solver = 'liblinear')

In [18]:
log_reg_model.fit(nlp_X,train_Y)

LogisticRegression(solver='liblinear')

In [19]:
pred_log_reg =log_reg_model.predict_proba(nlp_X).T[1]

In [20]:
roc_auc_score(train_Y,pred_log_reg)

0.9468211631057653

Multinomial Naive Bayes

In [21]:
multinomialNB_model = MultinomialNB(alpha = 0.45)

In [22]:
multinomialNB_model.fit(nlp_X,train_Y)

MultinomialNB(alpha=0.45)

In [23]:
pred_multiNB = multinomialNB_model.predict_proba(nlp_X).T[1]

In [24]:
roc_auc_score(train_Y,pred_multiNB)

0.9324170190952199

##Testing

Preprocessing on Test Set

###NLP on Test Set

In [25]:
test_web_body_list = []
test_web_title_list = []
test_web_url_list = []
for i in range(main_test_df.shape[0]):
  dictionary_json =   json.loads(main_test_df['webpageDescription'][i])
  if('body' in dictionary_json):
    if(dictionary_json['body'] is None):
      test_web_body_list.append(" ")
    else:
      test_web_body_list.append(dictionary_json['body'])
  else:
    test_web_body_list.append(" ")

  if('title' in dictionary_json):
    if(dictionary_json['title'] is None):
      test_web_title_list.append(" ")
    else:
      test_web_title_list.append(dictionary_json['title'])
    
  else:
   test_web_title_list.append(" ")

  if('url' in dictionary_json):
    if(dictionary_json['url'] is None):
      test_web_url_list.append(" ")
    else:
      test_web_url_list.append(dictionary_json['url'])
  else:
    test_web_url_list.append(" ")

In [26]:
test_web_text_list = []
for i in range(main_test_df.shape[0]):
  test_web_text = test_web_body_list[i] + " " + test_web_title_list[i] + " " + test_web_url_list[i]
  test_web_text_list.append(test_web_text)

In [27]:
nlp_test_X = tv.transform(test_web_text_list).toarray()

In [52]:
final_Ytest = (2*log_reg_model.predict_proba(nlp_test_X).T[1] + multinomialNB_model.predict_proba(nlp_test_X).T[1])/3

In [53]:
final_Ytest.sum()

772.6179318406614

##Preparation For Submission

In [37]:
submission = pd.read_csv("/content/drive/MyDrive/ML/ML_Project/datasets/sample_submission.csv")

In [38]:
submission.head()

     id     label
0  7172  0.597802
1  2687  0.177493
2  6990  0.619266
3  5639  0.868449
4  2701  0.341868

In [48]:
submission["label"] = final_Ytest

In [40]:
submission.head()

     id     label
0  7172  0.368879
1  2687  0.860622
2  6990  0.969373
3  5639  0.511303
4  2701  0.283147

In [49]:
submission.to_csv("/content/drive/MyDrive/ML/ML_Project/Submissions/submission1.csv",index = False)